{# src/OC/PlatformBundle/Resources/views/Defaut/contact.html.twig #}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
  Contact - {{ parent() }}
{% endblock %}

{% block content %}
	
		<div class="col-md-3"></div>
		<div class="col-md-9">
			
				<div class="">
					<blockquote>
					<p>Contact : +33 7 68 24 73 64</p>
					<p>Email : Ousmane.Alassane@etu.univ-valenciennes.fr</p>
					<p>Site web : <a href="http://alassane-ousmane.cludima.org">Cliquer ici pour y accéder </a></p>
					</blockquote>
				</div>
			
		</div>

	
{% endblock %}

{% block contact %}	
<blockquote>
			<div class="alert alert-info">
				Contact : +33 7 68 24 73 64
			</div>
</blockquote>		

{% endblock %}
			
		


