<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="iso-8859-1">
		<title>A. Martin - Développeur web</title>
        {% stylesheets filter='cssrewrite, ?scssphp'
        'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
		'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css'
		'bundles/occourse/css/*'
        %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
	</head>

	<body>
	<div class="main-content">
		<div class="container">
		<!--image dans le coin supérieur droit-->
		<div style="position: absolute; right: 200px; top: 20px">
		{% image '@OCCourseBundle/Resources/public/img/photo-professionnel.png' %}
         <img src="{{ asset_url }}" title="Ousmane ALASSANE" alt="Ousmane ALASSANE" border="0" height="100" />
        {% endimage %}

		</div>
		<div class="enteteCV">
			Amaury Martin <br>
			<div id="divAge">30/11/1984</div>
			E-mail:
			<a href="mailto:martin@gmail.fr">amartin@gmail.com</a><br>
			<a href="javascript:MailPopup.afficher();">Contact</a><br>
			<input type="text" id="datepicker" placeholder="Select date" >
		</div>

		<div id="titreCV" class="titreCV">
			Développeur web
		</div>

		{# ---Menu onglets avec JqqueryUI #}
		<input type="button" id="ajoutOnglet" value="Ajouter un onglet" />
		<div id="onglets">
			<ul>
				<li>
				<a href="#onglet-1">Sécuriser</a>
				<span class="ui-icon ui-icon-close">Suppression</span>
				</li>
				<li><a href="#onglet-2">Evaluer</a>
				<span class="ui-icon ui-icon-close">Suppression</span>
				</li>
				<li><a href="#onglet-3">Prévenir les secours</a>
				<span class="ui-icon ui-icon-close">Suppression</span></li>
				</li>
			</ul>
			<div id="onglet-1">
				<p>Evaluer la situation et les dangers qu'elle comporte et sécuriser le lieu de l'accident. En cas d'accident...</p>
			</div>
			<div id="onglet-2">
				<p>Appreciez l'état de la situation</p>
			</div>
			<div id="onglet-3">
				<p>Il est très important de bien expliquer la situation...</p>
			</div>
		</div>

		<!--SECTION1-->
		<div class="titreSelection">EXPÉRIENCES: </div>
		<div class="dateCV">2010</div>
		Freelance Développeur Web <br>
		<div class="dateCV">2007</div>
	    Amélioration des sites web de la société facesoft <br>

	   <!--SECTION2-->
	   <div class="titreSelection">
		   Formation:
	   </div>
	   <div class="dateCV">2007</div>
		Dipôme de Technicien SUpérieur en jQuery <br>
		<div class="dateCV">2005</div>
		Baccaulauréat Scientique <br>

	   <!--SECTION3-->
		<div class="titreSelection" id="divers">
			DIVERS:
		</div>
		- Brevet secourisme <br>
	    - Photoshop <br>
		- Pratique de tennis <br>


		</div>
	</div>


        {% javascripts filter='jsqueeze'
        '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
		'http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js'
        '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
		'bundles/occourse/js/*'
        %}
		<script src={{ asset_url }} type="text/javascript"></script>
        {% endjavascripts %}



		<script>
			$(document).ready(function () {

					$('#onglets').tabs({
						tabTemplate: "<li><a href='{href}'>#{label}</a><span class='ui-icon ui-icon-close'>Suppression</a></li>",
						add: function(event, ui) {
							$( ui.panel ).apppend("<p>Contenu de mon onglet</p>");
						},
					    events: "mouseover",
						collapsible: true
						}).find('.ui-tabs-nav').sortable({ axis: "x" });
					$('#ajoutOnglet').bind('click',function() {
						ajoutOnglet();
					});

					function ajouteOnglet() {
						idNouvelOnglet = $('#onglets ul li').length+1;
						$('#onglets').tabs(
							"add",
							"#onglet-"+ idNouvelOnglet,
							"onglet "+idNouvelOnglet 
							);
					}

					$('span.ui-icon-close').on('click', function () {
						var i = $('#onglets>ul>li').index($(this).parent());
						$('#onglets').tabs("remove", i);
					});
			   $('#datepicker').datepicker({				
				   changeMonth: true,
				   changeYear: true,
				   showOtherMonths: true,
				   selectOtherMonths: true
			   });
		       $('.titreSelection').draggable(
				   {
					   axis: "y",
					   revert: true, 
					   cursor: "move",  // La souris change pendant le déplacement
					    grid: [90, 10], // Le déplacement se fait sur une grille de 150 pixels * 10 pixels
						//helper: "clone" // l'élément déplacé est copié. Il reste donc un élément à l'emplacement original
						}
						);


				$('#titreCV').draggable({revert: true}).html('Spécialiste jQuery').animate({
					'backgroundColor': 'white',
					'opacity': 0.90,
					'left': '+=200'
				}, 4000,'easeInBounce', function()
				{
					$('#titreCV').html('Développeur Web Symfony');
				});

				// On calcule l'age
				var maintenant = new Date();
				var maDateDeNaissance = new Date(1984, 10, 30);
				// Les mois commencent à 0 en JavaScript, janvier --0
				// On calcule le nombre d'années
				var monAge = maintenant.getFullYear() - maDateDeNaissance.getFullYear();
				$('#divAge').html(monAge+ ' ans');
				// SI l'anniversaire est déja passé on ajoute 1 an
				if(maDateDeNaissance.getMonth() > maintenant.getMonth())
				{
				    monAge += 1;
				}
				else if(maintenant.getMonth() == maDateDeNaissance.getMonth() && maDateDeNaissance.getDate() > maintenant.getDate())
				{
				    monAge += 1;
				}
				// On effectue la mise à jour
				$('#divAge').html(monAge + ' ans');
				
				// La personne qui regarde le CV le regarde la semaine
				if(maintenant.getDay() == 4)
				{
					$('#divers').after('- Disponible en semaine <br>');
				}

				// La personne qui s'interesse au CV le regarde le weekend

				if(maintenant.getDay() == 0 || maintenant.getDay() == 6)
				{
				    $('#divers').after('- Horaires souples (week-end..)<br>');
				}
				/* $('.titreSelection').eq(0).addClass('titreBleu');
				$('.titreSelection').eq(1).addClass('titreRouge');
                $('.titreSelection').eq(2).toggleClass('titreBleu');
                */
                $('.titreselection').css('border', '0px solid #555');

                $('.titreSelection').css({
				 'color': 'white',
				 'background-color': 'green',
				 'padding': '4px'
				});
                var bibliothequeJQuery = jQuery.noConflict();
                // La personne qui s'intéresse à mon CV le regarde depuis IE
				if($.browser.msie) {
				    // Alors c'est le cas
				}
			


            });
		</script>



	</body>
</html>
