{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  FIC 2017 - Lille Grand Palais
{% endblock %}

{% block ocplatform_body %}
  
  <p><a href="https://www.youtube.com/watch?v=P9zMdFmFxAY">Voir la vidéo de Damien Bancal</a></p>
  <p><img src="https://www.esiea.fr/wp-content/uploads/2016/01/ESIEA-FIC-2017.jpg" class="img-thumbnail" alt="{{ "Forum International de la CYbercriminalité organisé par la gendarmerie nationale" }}" title="{{ "Forum International de la CYbercriminalité organisé par la gendarmerie nationale" }}"></p>
  <p><img src="https://pbs.twimg.com/media/C29aVK8XcAAUAhM.jpg" width="650px" class="img-thumbnail" height="300px"  alt=""></p>

{% endblock %}