body
{
    font-family: "Monaco", "Time New Roman", "sans-serif";
}
#display-results
{
    width: 233px;
    margin-left: 277px;
    margin-top: -8px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #deded;
    position: fixed;
    display: none;
    font-family: "Monaco"
}